* {
  box-sizing: border-box;
  border: 1px solid black;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  font-family: cabin;
}

.container {
  background-color: white;
  margin: 0 auto;
  width: 100%;
}
/******NAVBAR******/
.navigation, .container {
    background-color: white;
    border: 1px solid black;
}

.navigation {
  background-color: white;
  font-family: Raleway;
  margin: 0 auto;
  width: 80%;
}

.navigation a {
  color: black;
  text-decoration: none;
}

.navigation img {
  display: inline-lock;
  width: 10rem;
}

.navigation ul {
  float: right;
  font-size: 1.8rem;
  padding: 1rem;
}

.navigation ul li {
  display: inline-block;
  font-family: Raleway;
  list-style: none;
  padding: 2rem;
  text-transform: uppercase;
}

.navigation ul li a:hover {
  color: #ED2F80;
}


/******HERO******/
.hero {
background: linear-gradient(rgba(	33, 212, 253, 0.6),rgba(59, 88, 252, 0.6)),
  url(../images/cloud.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
    font-size: 2.6rem;
}

/******SECTION******/
section {
  background-color: lightblue;
  font-size: 1.8rem;
  margin-top: 1rem;
  padding: 5rem 0;
  width: 100%;
}

/******THE PROCESS SECTION******/
.phase {
  border: 0.3rem solid;
  border-radius: 1rem;
  display: inline-block;
  margin: 20% .2%;
  padding: 5rem;
  width: 25rem;
  height: 38rem;
}

/******FOOTER******/
footer {
  background-color: #212121;
  color: #FFFFFF;
  font-family: Raleway;
  padding: 2rem;
  position: absolute;
  width: 100%;
}

footer ul {
  margin-bottom: 1rem;
  padding: 1rem;
}

footer ul li {
  display: inline;
  padding: 1rem;
}

.credit {
  font-size: 1.3rem;
}
