/******HERO******/
.hero-background {
  background: linear-gradient(rgba(51, 51, 51, 0.7),rgba(51, 51, 51, 0.6)),
  url(../imagesUpdated/TNRProject/strays.jpg);
  background-repeat: no-repeat;           /******MOBILE******/
  background-size: cover;
}

.abbreviation {
  color: yellow;
}

.overview {
  text-align: left;
}

.overview ul {
  list-style: disc;
  list-style-position: inside;
  padding: 2.2rem 0;
}

.probsol {
  width: 60%;
}

.probsol3 {
  padding-top: 2.2rem;
}

.solscr, .solscr2, .probsol2 {
  margin: 2.2rem auto;
}

.data {
  background-color: white;
  border: dashed 3px #D9DFFE;        /******MOBILE******/
  border-radius: 1em;
}

.model {
  margin: 0 auto;
  width: 20%;
}

.quote {
  color: orange;
}

.extend {
  background-image: url('../imagesUpdated/TNRProject/TNRworkflow.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.digitalSketches {
  background: url('../imagesUpdated/TNRProject/digitalWireframes.jpg');
  background-size: cover;
}

.hifi1 {
  background: url('../imagesUpdated/TNRProject/hifi.png') no-repeat;
  background-size: cover;
}

.Logo {
  display: grid;
  grid-template-columns: 1fr;
}

.Logo img {
  height: auto;
  width: 90%;
}

.mockupSketches {         /******MOBILE*****/
  background-image: url('../imagesUpdated/TNRProject/brainstormDesign.jpg');
}

.slides-bg, .slides-bg h4, .mySlides {
  background-color: #333333;
  color: white;
}

.slides-bg {
  padding-bottom: 2.2rem;
}

.mySlides {
  height: 50%;
}

.v2Tab img, .v3Tab img {
  display: none;
}

.final-title, .finish, .added {
  display: none;
}


@media screen and (min-width: 768px) {
  .probsol {
    width: 40%;
  }

  .probsol3 {
      padding-top: 5.35rem;
  }

  .digitalSketches {
    background: url('../imagesUpdated/TNRProject/wireframeTab.png');
    background-size: cover;
  }

  .Logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .Logo img {
    height: auto;
    width: 90%;
  }

  .mindMapping {
    padding: 30rem 0;
  }

  .mySlides h6 {
    font-size: 3rem;
    padding-bottom: 2.2rem;
  }

  .v2, .v3 {
    display: none;
  }

  .v2Tab, .v3Tab{
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .v2Tab img, .v3Tab img {
    display: grid;
    width: 100%;
  }

  .usabilityTests2 {
    padding-bottom: 0;
  }

}

@media screen and (min-width: 900px) {
  .probsol {
    width: 50%;
  }

  .mockupSketches {
    padding: 28rem 0;
  }

  .digitalSketches {
    background: url('../imagesUpdated/TNRProject/digitalwireframeDesk.png');
    background-size: cover;
  }

  .hifi1 {
    background: url('../imagesUpdated/TNRProject/hifiDesk.png') no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1285px) {
  .probsol {
      width: 60%;
  }

  .last {
    height: 9rem;
  }

  .mockupSketches {
    padding: 32rem 0;
  }
}

@media screen and (min-width: 1440px) {
  .mockupSketches {
    padding: 38rem 0;
  }
}
