* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  font-family: cabin;
}

p {
  font-size: 1.6rem;
  line-height: .7cm;
}

/******NAVBAR******/
.nav-bar {
        /******MOBILE******/
  font-family: Raleway;
  height: 8rem;
  margin: 0 auto;
  padding: 1rem 0;
  width: 90%;
}

.nav-bar a {
  color: black;
  text-decoration: none;
}

.nav-bar img {
  display: inline-block;
  float: left;
  padding: 1rem;
  width: 8rem;
}

.nav-bar ul {                  /******MOBILE******/
  float: right;
}

.nav-bar ul li {
  display: inline-block;
  font-family: Raleway;
  font-size: 1.6rem;
  font-weight: 900;           /******MOBILE******/
  list-style: none;
  padding: 2.2rem;
}

.nav-bar ul li a:hover, .side-nav a:hover {
  color: #ED2F80;
}

.open-slide {
  float: right;
  margin: 2rem 0;
}

.side-nav {
  background-color: #111;
  height: 30%;
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.side-nav a {
  color: #fff;
  display: block;
  font-size: 1.8rem;
  padding:  1rem 1rem 2rem 3rem;
  text-align: right;
  text-decoration: none;
  transition: 0.3s;
}

.side-nav .btn-close {
  font-size: 5.6rem;
  position: absolute;
  right: 2.2rem;
  top: 0;
}

.portfolio {
  margin-top: 2rem;
}

@media(max-width: 568px){
  .nav-bar ul {
    display: none;
  }
}
@media(min-width: 568px){
  .open-slide, .side-nav {
    display: none;
  }
}

/******General info******/
.intro {
  background: linear-gradient(rgba(237, 47, 128, 0.5), rgba(47, 128, 237, 0.9)), url(../imagesUpdated/miniAvatar.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); /******MOBILE******/
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  padding: 40rem 0 10rem 0;
}

.grid, .grid1 li{
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0 auto;                 /******MOBILE******/
  width: 90%;
}

.grid {
  text-align: left;
}

h1 {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 900;             /******MOBILE******/
  padding-bottom: 1rem;
}

hr {
  border: .1rem solid white;    /******MOBILE******/
  margin-left: 0;
  width: 22rem;
}

h3 {
  font-weight: 600;             /******MOBILE******/
  font-size: 1.7rem;
}

.whoIAm p {
  margin-top: 2.2rem;
}

/******BODY TEXT STORY******/
.grid1 li {                 /******MOBILE******/
  margin: 2.2rem auto;
}

.grid1 img {                /******MOBILE******/
  width: 100%;
}

.grid1 .lastImg {
  margin-bottom: 0;
}

/******FOOTER******/
footer {
  background-color: #212121;
  color: #FFFFFF;
  font-family: Raleway;   /******MOBILE******/
  padding: 2rem;
}

.footer-content {
  margin: auto;
  padding: 0;
  text-align: center; /******MOBILE******/
  text-decoration: none;
}

.footer-content div {
  display: inline-block;    /******MOBILE******/
  font-size: 2rem;
  padding-bottom: 1rem;
}

footer ul {
  margin-bottom: 1rem;    /******MOBILE******/
  padding: .5rem;
}

footer ul li {
  display: inline;    /******MOBILE******/
  padding: 1rem;
}

footer ul li a{
  text-decoration: none;
}

.credit {
  font-size: 1.3rem;    /******MOBILE******/
}

@media screen and (min-width: 510px) {
  .intro {
    background: linear-gradient(rgba(237, 47, 128, 0.5), rgba(47, 128, 237, 0.9)), url(../imagesUpdated/mobileAvatar.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 7rem;
  }

  .whoIAm p {
    width: 45rem;
  }
}

/****************TABLET SIZE****************/
@media screen and (min-width: 768px) {

  .intro {
    padding-top: 45rem;
  }

  p {
    font-size: 1.8rem;
  }
  /******NAVBAR******/
  .nav-bar {
    width: 80%;
  }

  .nav-bar ul li {
    font-size: 1.8rem;     /******TABLET******/
  }

  /******General info******/
  .grid {
    width: 80%;
  }

  h1 {
  font-size: 3.6rem;
  }

  hr {
    width: 33rem;
  }

  h3 {
  font-size: 2.1rem;

  }

  /******JOURNEY STORY******/
  .grid1 {
    grid-template-columns: 1fr;
    margin: 5rem auto 20rem auto;
    width: 50%;                         /******TABLET******/
  }

  .grid1 img {
    margin: 0 auto;
    width: 70%;
  }

  /******FOOTER******/
  .footer-content {
    display: block;
  }

  .footer-content div {
    font-size: 2.4rem;
  }

}

@media screen and (min-width: 900px) {

  .intro {
    background: linear-gradient(rgba(237, 47, 128, 0.5), rgba(47, 128, 237, 0.9)), url(../imagesUpdated/avatar.jpg) no-repeat;
    background-size: cover;
    padding-top: 40rem;
  }

}
/****************DESKTOP****************/
@media screen and (min-width: 1200px) {
  /******GENERAL INFO******/
  .whoIAm p {
    padding-bottom: 2.8rem
  }

}
