/****************GENERAL PG SETUP****************/
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: black;
  font-family: cabin, sans-serif;
}

h2 {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
  margin-bottom: 2.2rem;
}

/******NAVBAR******/
nav {
  display: grid;      /******MOBILE******/
  font-family: Raleway, sans-serif;
  margin: 0 auto;
  padding: 1rem 0;
}

nav a {
  color: black;
  text-decoration: none;
}

nav img {
  display: inline-block;
  float: left;
  margin-top: 1rem;
  width: 6rem;
}

nav ul {                  /******MOBILE******/
  float: right;
}

nav ul li {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 1.6rem;
  font-weight: 900;           /******MOBILE******/
  list-style: none;
  padding: 2.2rem;
}

nav ul li a:hover, .side-nav a:hover {
  color: #ED2F80;
}

.open-slide {
  float: right;
  margin: 2rem 0;
}

.side-nav {
  background-color: #111;
  opacity: .9;
  overflow: hidden;
  padding-top: 60px;
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.side-nav a {
  color: #fff;
  display: block;
  font-size: 1.8rem;
  margin-right: 2.5rem;
  padding:  1rem 1rem 2rem 3rem;
  text-align: right;
  text-decoration: none;
  transition: 0.3s;
}

.side-nav .btn-close {
  font-size: 5.6rem;
  position: absolute;
  right: 0;
  top: 0;
}

.portfolio {
  margin-top: 2rem;
}

.UIChallenge {
  background-color: orange;
}

.project1, .project2, .project3, .project4, .project5, .project6, .project7, .secretProject {
  position: relative;
  width: 100%;
}

.photo{
  display: block;
  width: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;

}

.project1:hover .overlay, .project2:hover .overlay, .project3:hover .overlay, .project4:hover .overlay, .project5:hover .overlay, .project6:hover .overlay, .project7:hover .overlay, .secretProject:hover .overlay {
  opacity: 1;
}

.overlay_description{
  font-size: 2rem;
  color: white;
  line-height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);

}

@media(max-width: 568px){
  .nav-bar ul {
    display: none;
  }
}
@media(min-width: 568px){
  .open-slide, .side-nav {
    display: none;
  }
}

/******HERO******/
.hero {
                          /******MOBILE******/
  padding-top: 8rem;
}

.hero div {
  display: block;   /******MOBILE******/
}

.bold {
  color: #2F80ED;
  font-weight: 900; /******MOBILE******/
}

.abbreviation {
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

h1 {
  font-size: 3.8rem;
  font-family: Montserrat, sans-serif;;  /******MOBILE******/
  margin-bottom: 2.2rem;
}

.introduction {
  margin: 4.3rem auto 0 0;
}

@media screen and (min-width: 500px) {
  .introduction {
    margin: 6.3rem auto 0 4.3rem;
  }
}

h3 {
  color: #616161;
  font-size: 2rem;
  line-height: .6cm;
}

.down-arrow {
  margin: 18rem 0 2rem 0;    /******MOBILE******/
  text-align: center;
}

.down-arrow a {
  color: black;
}

/******FOR ALL PROJECTS MOBILE*****/

.container p {
  color: black;
  font-size: 1.6rem;
}

nav, .grid1, .container {
  display: grid;
  grid-template-columns: 1fr; /******MOBILE******/
  list-style: none;
  margin: 0 auto;
  width: 90%;
}

/******FOOTER******/
footer {
  background-color: #212121;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;   /******MOBILE******/
  padding: 5rem;
}

.footer-content {
  margin: auto;
  padding: 0;
  text-align: center; /******MOBILE******/
  text-decoration: none;
}

.footer-content div {
  display: inline-block;    /******MOBILE******/
  font-size: 2rem;
  padding-bottom: 1rem;
}

footer ul {
  margin-bottom: 1rem;    /******MOBILE******/
  padding: .5rem;
}

footer ul li {
  display: inline;    /******MOBILE******/
  padding: 1rem;
}

footer ul li a{
  text-decoration: none;
}

.credit {
  font-size: 1.3rem;    /******MOBILE******/
}
/****************TABLET SIZE****************/
@media screen and (min-width: 768px) {
  .nav-bar {
    width: 90%;
  }

  .nav-bar ul li {
    font-size: 1.8rem;     /******TABLET******/
  }

  /******HERO******/

  .grid1, .container {
    width: 90%;
  }

  h1 {
    font-size: 6.5rem;    /******TABLET******/
  }

  .introduction {
    margin: 12rem auto 0 3rem;
  }

  h3 {
    font-size: 2.5rem;
    line-height: .8cm;
  }

  .down-arrow {
    margin: 22rem 0 2rem 0;   /******TABLET******/
    text-decoration: none;
  }

  .container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-bottom: 2rem;
  }

  /******FOOTER******/
  .footer-content {
    display: block;       /******TABLET******/
  }

  .footer-content div {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 900px) {

}
