/**********************************************************UI CHALLENGE*************************************************/

.grid2 {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: 90%;
  }

a {
  color: #ED2F80;
}

.bold {
  font-weight: bold;
  text-decoration: none;
}

.underline {
  font-style: italic;
  text-decoration: underline;
}

.highlight {
  color: #ED2F80;
}


section {
  margin-top: 3rem;
  padding: 0;
}

.phases {
  background: white;
  line-height: 0.9cm;
}

.challenge h3, h3 {
  margin-bottom: 1rem;
  text-align: left;
}

.challenge p {
  margin-bottom: 3rem;
}

.challenge img, .email, .timeline, .ost, .audit, .suggestion, .rtg, .rtgNav {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.ost, .audit, .rtg., .rtgNav {
  margin-top: 1.5rem;
}

.rtg {
  margin-bottom: 0;
}

ul li {
  list-style: circle;
}

@media screen and (min-width: 1024px) {
/******PHASES PROCESS******/
  .grid2 {
    width: 60%;
  }

  .grid3 {
    margin: auto;
    width: 90%;
  }


  /**********************************************************EMAIL TEMPLATE LAYOUT*************************************************/

  @media(min-width: 768px){
    .email, .timeline, .rtgNav {
      margin-top: 6rem;
    }

    .suggestion {
      margin-top: 0;
    }
  }

}
