/******HERO******/
.hero-background {
  background: linear-gradient(rgba(155, 81, 224, 0.6),rgba(149, 153, 226, 0.8)),
  url(../imagesUpdated/TNRProject/strays.jpg);
  background-repeat: no-repeat;           /******MOBILE******/
  background-size: cover;
}

.abbreviation {
  color: yellow;
}

@media screen and (min-width: 768px) {

}
