/******HERO******/
.hero-background {
  background: linear-gradient(rgba(134, 152, 253, 0.8),rgba(47, 128, 237, 0.8)),
  url(../imagesUpdated/TNRProject/strays.jpg);
  background-repeat: no-repeat;           /******MOBILE******/
  background-size: cover;
}

.abbreviation {
  color: yellow;
}

@media screen and (min-width: 768px) {

}
