/* ---------- GLOBAL ---------- */
* { box-sizing: border-box; }

html { font-size: 10px; }

body {
  background-color: white;
  font-family: Cabin, sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

.grid1 {
  min-height: 100vh;
}

/* ---------- NAVBAR ---------- */
nav {
  display: grid;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  font-family: Raleway, sans-serif;
}

nav a {
  color: black;
  text-decoration: none;
}

nav img {
  float: left;
  width: 6rem;
  margin-top: 1rem;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  padding: 2.2rem;
  font-size: 1.6rem;
  font-weight: 900;
}

nav ul li a:hover,
.side-nav a:hover {
  color: #ED2F80;
}

/* ---------- SIDE NAV (MOBILE) ---------- */
.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  padding-top: 60px;
  background: rgba(17, 17, 17, 0.9);
  overflow-x: hidden;
  z-index: 100;
}

.side-nav a {
  display: block;
  padding: 1rem 3rem 2rem 1rem;
  color: #fff;
  text-align: right;
  font-size: 1.8rem;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 5.6rem;
}

.portfolio { margin-top: 2rem; }

/* ---------- SLIDES ---------- */
.slide-container {
  position: relative;
  width: 100%;
  margin: 40px 0;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.slide-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* ---------- FOOTER ---------- */
footer {
  background-color: #212121;
  color: #fff;
  padding: 5rem;
  font-family: Raleway, sans-serif;
  text-align: center;
}

.footer-content div {
  display: inline-block;
  font-size: 2rem;
  padding-bottom: 1rem;
}

footer ul {
  padding: .5rem;
  margin-bottom: 1rem;
}

footer ul li {
  display: inline-block;
  padding: 1rem;
}

.credit {
  font-size: 1.3rem;
}

/* ---------- MEDIA QUERIES ---------- */

/* Hide desktop nav on mobile */
@media (max-width: 568px) {
  .nav-bar ul {
    display: none;
  }
}

/* Hide mobile menu on desktop */
@media (min-width: 568px) {
  .open-slide,
  .side-nav {
    display: none;
  }
}

/* Tablet */
@media (min-width: 768px) {
  p { font-size: 1.8rem; }

  .nav-bar ul li { font-size: 1.8rem; }

  h1 { font-size: 3.6rem; }

  .grid1 {
    width: 50%;
    margin: 5rem auto 0;
  }

  .footer-content div {
    font-size: 2.4rem;
  }
}

/* Large tablet / small desktop */
@media (min-width: 900px) {
  .intro {
    padding-top: 40rem;
    background: 
      linear-gradient(rgba(237,47,128,0.5), rgba(47,128,237,0.9)),
      url(../imagesUpdated/avatar.jpg) no-repeat;
    background-size: cover;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .whoIAm p {
    padding-bottom: 2.8rem;
  }
}


}
